<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Online store">
    <meta name="author" content="Ivanus">
    <title>Online Store</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .card-img-top {
            object-fit: cover;
            height: 225px;
        }

        .hero-section {
            background-image: url('/images/images.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
        }


        .card {
            background-color: #c7ffc2;
        }
    </style>
</head>
<body>

<header>
    <div th:replace="~{navigation :: navigation(Shop)}"></div>
</header>

<main>


    <div class="album py-5 bg-light">
        <div class="container">
            <span th:if="${products.size == 0}">Нет товаров в наличии</span>
            <div th:if="${products.size > 0}" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="product : ${products}">
                    <div class="card shadow-sm">
                        <img th:src="@{/image/{id}(id=${product.id})}" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.title}">Product Name</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group" th:if="${product.quantity > 0}" style="display: flex; align-items: center;">
                                    <a th:href="@{'/details/' + ${product.id}}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                    <form th:action="@{'/cart/add/' + ${product.id}}" method="get" style="display: flex; align-items: center;" onsubmit="addToCart(event, this)">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary" style="margin-left: 5px;">Добавить в корзину</button>
                                        <input type="number" name="quantity" min="1" max="10" th:value="1" class="form-control form-control-sm" style="width: 80px; margin-left: 5px;">
                                    </form>
                                </div>
                                <div class="btn-group" th:if="${product.quantity == 0}">
                                    <a class="btn btn-sm btn-outline-secondary">Нет в наличии</a>
                                </div>
                                <small class="text-body-secondary" th:text="'BYN ' + ${product.price}">Price</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Пагинация -->
            <br>
            <div th:if="${products.getTotalPages() > 1}" class="pagination justify-content-center">
                <a th:href="@{'/shop?page=0&searchQuery=' + ${searchQuery}}" class="page-link" th:text="'1'">1</a>
                <a th:href="@{'/shop?page=' + ${products.number + 1} + '&searchQuery=' + ${searchQuery}}" class="page-link" th:text="'Следующая страница'">Следующая страница</a>
            </div>
        </div>
    </div>
</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Обратно наверх</a>
        </p>
        <p class="mb-1">TennisStore &copy; 2024</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function addToCart(event, form) {
        event.preventDefault();
        const quantity = form.querySelector('input[name="quantity"]').value;
        const productId = form.action.split('/').pop();

        fetch(`/cart/add/${productId}?quantity=${quantity}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Ошибка при добавлении товара в корзину');
                }
            })
            .then(data => {
                alert(data);
            })
            .catch(error => {
                console.error(error);
                alert('Ошибка: ' + error.message);
            });
    }
</script>

</body>
</html>