<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование товара</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Редактирование товара</h1>
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/admin/edit-product/{id}(id=${product.id})}" method="post">

        <input type="hidden" th:value="${product.id}" name="id"/>
        <input type="hidden" th:value="${productDetails.id}" name="details_id"/>

        <h2>Данные о товаре</h2>
        <div class="mb-3">
            <label for="title" class="form-label">Название товара</label>
            <input type="text" id="title" name="title" class="form-control" th:value="${product.title}" maxlength="100" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Цена</label>
            <input type="number" id="price" name="price" class="form-control" th:value="${product.price}" min="0" step="1" max="10000" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Категория</label>
            <input type="text" id="category" name="category" class="form-control" th:value="${product.category}" maxlength="100" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea id="description" name="description" class="form-control" th:text="${productDetails.description}" required></textarea>
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Бренд</label>
            <input type="text" id="brand" name="brand" class="form-control" th:value="${productDetails.brand}" maxlength="100" required>
        </div>
        <div class="mb-3">
            <label for="warrantyPeriod" class="form-label">Гарантия (в месяцах)</label>
            <input type="number" id="warrantyPeriod" name="warrantyPeriod" class="form-control" th:value="${productDetails.warrantyPeriod}" min="0" step="1" max="10000" required>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
